<div class="activities py-5">
  <div class="container-center">
    <div class="super-padding">
      <h2 class="text-center fw-bold">Scopri e immergiti nel territorio</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
  
    <!-- 1. Spiaggia e sport acquatici -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/diga.avif" alt="Pasticceria locale">
        <h4 class="card-title">SPIAGGIA, SPORT ACQUATICI E PASSEGGIATA SULLA DIGA TRA RELAX E NATURA</h4>
        <p class="card-text">
          Goditi la spiaggia lunga 5 km, cimentati con il kitesurf o il windsurf, oppure rilassati con una suggestiva passeggiata sulla diga sospesa tra mare e laguna. Ideale per famiglie, sportivi e amanti della natura incontaminata.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/sCs1KZGNWHPQjZmq7" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 2. Centro storico -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/chioggia.jpg" alt="Passeggiata sulla diga">
        <h4 class="card-title">CENTRO STORICO E CALLI DI CHIOGGIA, TRA STORIA, CULTURA E TRADIZIONE LOCALE</h4>
        <p class="card-text">
          Esplora l'antico cuore della città tra calli e ponti, visita la cattedrale e l’orologio più antico del mondo, e gusta un aperitivo nei bacari locali. Una passeggiata imperdibile per gli amanti della cultura e dell’autenticità.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/HbMnBfipmp9DZ9Uv5" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 3. Tour in barca -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/scorpiChioggia.jpg" alt="Spiaggia e sport">
        <h4 class="card-title">SCOPRI CHIOGGIA CON UN TOUR IN BARCA TRA CANALI, STORIA E ATMOSFERA UNICA</h4>
        <p class="card-text">
          Vivi la Laguna Veneta con un tour guidato tra canali pittoreschi e scorci unici. Lasciati raccontare la storia e i segreti di Chioggia da esperti locali, per un'esperienza suggestiva e coinvolgente adatta a tutte le età.
        </p>
        <a class="card-more" href="http://www.motonaveanna.com" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 4. Venezia e isole -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/tourVenezia.jpg" alt="Visita a Chioggia">
        <h4 class="card-title">SCOPRI LA MAGIA DI VENEZIA E DELLE SUE INCANTEVOLI ISOLE: MURANO, BURANO E TORCELLO.</h4>
        <p class="card-text">
          Parti comodamente dall’imbarcadero vicino casa per esplorare Venezia e le sue isole famose nel mondo. Un viaggio tra vetri artistici, case colorate e tradizioni senza tempo che ti resterà per sempre nel cuore.
        </p>
        <a class="card-more" href="https://www.raffaellonavigazione.com" target="_blank">Più informazioni</a>
      </div>
    </div>

  </section>
</div>
