<div class="activities py-5">
  <div class="container-center">
    <div class="super-padding">
      <h2 class="text-center fw-bold">{{ 'EXPLORE_TITLE' | translate }}</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
  
    <!-- 1. Spiaggia e sport acquatici -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/diga.jpg" alt="Diga">
        <h4 class="card-title">{{ 'DIGA_TITLE' | translate }}</h4>
        <p class="card-text">
          {{ 'DIGA_TEXT' | translate }}
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/sCs1KZGNWHPQjZmq7" target="_blank">{{ 'MORE_INFO' | translate }}</a>
      </div>
    </div>

    <!-- 2. Centro storico -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/chioggia.jpg" alt="Passeggiata sulla diga">
        <h4 class="card-title">{{ 'CENTRO_STORICO_TITLE' | translate }}</h4>
        <p class="card-text">
          {{ 'CENTRO_STORICO_TEXT' | translate }}
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/HbMnBfipmp9DZ9Uv5" target="_blank">{{ 'MORE_INFO' | translate }}</a>
      </div>
    </div>

    <!-- 3. Tour in barca -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/scorpiChioggia.jpg" alt="Spiaggia e sport">
        <h4 class="card-title">{{ 'CHIOGGIA_TITLE' | translate }}</h4>
        <p class="card-text">
          {{ 'CHIOGGIA_TEXT' | translate }}
        </p>
        <a class="card-more" href="http://www.motonaveanna.com" target="_blank">{{ 'MORE_INFO' | translate }}</a>
      </div>
    </div>

    <!-- 4. Venezia e isole -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/tourVenezia.jpg" alt="Visita a Chioggia">
        <h4 class="card-title">{{ 'VENEZIA_TITLE' | translate }}</h4>
        <p class="card-text">
          {{ 'VENEZIA_TEXT' | translate }}
        </p>
        <a class="card-more" href="https://www.raffaellonavigazione.com" target="_blank">{{ 'MORE_INFO' | translate }}</a>
      </div>
    </div>

  </section>
</div>
