<div class="activities py-5">
  <div class="container-center">
    <div class="super-padding">
      <h2 class="text-center fw-bold">Servizi & Attività</h2>
    </div>
  </div>
</div>

<div class="container-center overlay">
  <section class="row">
  
    <!-- 1. Pasticceria locale -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/ceolin.jpg" alt="Pasticceria locale">
        <h4 class="card-title">PASTICCERIA CEOLIN</h4>
        <p class="card-text">
          Gusta ottimi caffè e pasticceria artigianale, come la torta al limone o i pistacchi, in questa storica pasticceria.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/xFfC1TmJWcNBTfL1A" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 2. Passeggiata sulla diga -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/diga.avif" alt="Passeggiata sulla diga">
        <h4 class="card-title">PASSEGGIATA SULLA DIGA</h4>
        <p class="card-text">
          Goditi una passeggiata rilassante lungo la diga di Sottomarina, con vista sul mare e sulla laguna.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/1yF1sRxxweNPz2Tx9" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 3. Spiaggia e sport acquatici -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/spiaggia.avif" alt="Spiaggia e sport">
        <h4 class="card-title">SPIAGGIA E SPORT ACQUATICI</h4>
        <p class="card-text">
          Rilassati sulla spiaggia lunga 5 km o prova kitesurf, windsurf e vela tra mare e laguna.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/iBJjMxf5EzCyX4JR8" target="_blank">Più informazioni</a>
      </div>
    </div>

    <!-- 4. Visita al borgo storico e mercato -->
    <div class="card-holder col-lg-3 col-md-6 col-sm-6 mb-3 d-flex">
      <div class="card flex-fill">
        <img class="card-img" src="assets/images/chioggia.avif" alt="Visita a Chioggia">
        <h4 class="card-title">CHIUSURA A CHIOGGIA & MERCATO</h4>
        <p class="card-text">
          Scopri Chioggia con tour in barca, visita la cattedrale, il mercato del pesce e assaggia i bacari locali.
        </p>
        <a class="card-more" href="https://maps.app.goo.gl/qxc7h671Atv2rXF69" target="_blank">Più informazioni</a>
      </div>
    </div>

  </section>
</div>
