<div class="contact">
  <div class="container-center">
    <section class="row justify-content-between align-items-center">
      <div class="left text-start col-md-6 col-sm-12 mb-4">
        <h2>{{ 'CONTACT_TEXT' | translate }}</h2>
        <p>{{ 'CONTACT2_TEXT' | translate }}</p>
        <p>{{ 'CONTACT3_TEXT' | translate }}<a href="tel:+393760888410" target="_blank">+39 376 088 8410</a></p>
        <button class="btn-white" aria-label="Contattaci su WhatsApp" (click)="openWhatsApp()">{{ 'WHATSAPP_TEXT' | translate }}</button>
      <!--   <button *ngIf="localBooking" class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('booking')">{{ 'BOOK_NOW' | translate }}</button> -->
         <!--  <button class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('contact')">{{ 'BOOK_NOW' | translate }}</button>-->
      </div>

      <div class="right text-start ps-3 col-md-6 col-sm-12">
        <form (ngSubmit)="sendEmail()">
          <div class="input-group">
            <label for="name" class="text-input">{{ 'NAME_TEXT' | translate }}</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" />
          </div>
          <div class="input-group">
            <label for="phone" class="text-input">{{ 'PHONE_TEXT' | translate }}</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="phone" />
          </div>
          <div class="input-group">
            <label for="email" class="text-input">{{ 'EMAIL_TEXT' | translate }}</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" />
          </div>
          <div class="input-group">
            <label for="message" class="text-input">{{ 'MESSAGE_TEXT' | translate }}</label>
            <textarea rows="6" id="message" name="message" [(ngModel)]="message"></textarea>
          </div>
          <div *ngIf="showMessage" [class.error]="isError" class="mb-3">
            {{ messageText | translate }}
          </div>
          <button type="submit" class="btn-big" aria-label="Invia">{{ 'SEND_TEXT' | translate }}</button>
        </form>
      </div>
    </section>

<div class="wrapp-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2865.314058496229!2d12.2815381!3d45.2238959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477e98591a2c0dd3%3A0xb0497ca180615a31!2sViale%20Dalmazia%2C%2010%2C%2030015%20Sottomarina%20VE%2C%20Italy!5e0!3m2!1sit!2sit!4v1720200000000!5m2!1sit!2sit"
    width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
  </div>
</div>
