.row-card-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

photo-card {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 90%;
  max-width: 400px;
}
