.gallery {
	background-color: #56f5e5;
	color: #fff;
}

.row-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem 0;
}

photo-card {
  width: 100%;
  max-width: 400px;
}
