<div class="gallery py-5 text-center">
  <div class="container-center">
    <h1 class="fw-bold mb-3">I nostri alloggi</h1>
    <p class="text-header px-3" style="max-width: 700px; margin: 0 auto; line-height: 1.6;">
      Esplora Casa Dalmazia, dove comfort e autenticità si uniscono per offrirti un soggiorno indimenticabile nella splendida cornice di Chioggia e Sottomarina. I nomi dei nostri alloggi sono ispirati a termini del dialetto locale, un tempo usati quotidianamente dai pescatori di Chioggia.
Sevènte indica l’“alta marea”, un fenomeno naturale che ha sempre influenzato profondamente la vita della città e dei suoi abitanti — lo stesso che, come a Venezia, può dare origine alla celebre “acqua alta” nel centro storico.
Dosàna, invece, si riferisce alla “bassa marea”, momento in cui l'acqua si ritira, lasciando spazio a un paesaggio unico e suggestivo della laguna.
    </p>
    <section class="row-card-scroll mt-4">
      <!----------- CARD 1 ------------>
      <photo-card 
        [title]="'Sevènte'" 
        [content]="'Luminoso appartamento al terzo piano con due terrazzi, ideale per chi ama gli spazi ariosi e tranquilli. Nota: l’edificio non è dotato di ascensore.'" 
        [images]="[
          'assets/images/SEVENTE/1.avif',
          'assets/images/SEVENTE/2.avif',
          'assets/images/SEVENTE/3.avif',
          'assets/images/SEVENTE/4.avif',
          'assets/images/SEVENTE/5.avif',
          'assets/images/SEVENTE/6.avif',
          'assets/images/SEVENTE/7.avif',
          'assets/images/SEVENTE/8.avif',
          'assets/images/SEVENTE/9.avif',
          'assets/images/SEVENTE/10.avif',
          'assets/images/SEVENTE/11.avif',
          'assets/images/SEVENTE/12.avif'
        ]">
      </photo-card>

      <!----------- CARD 2 ------------>
      <photo-card 
        [title]="'Dosàna'" 
        [content]="'Comodo appartamento al piano terra con accesso a una corte esterna.'" 
        [images]="[
          'assets/images/DOSANA/1.avif',
          'assets/images/DOSANA/2.avif',
          'assets/images/DOSANA/3.avif',
          'assets/images/DOSANA/4.avif',
          'assets/images/DOSANA/5.avif',
          'assets/images/DOSANA/6.avif',
          'assets/images/DOSANA/7.avif'
        ]">
      </photo-card>
    </section>
  </div>
</div>
