<div class="gallery py-5 text-center">
  <div class="container-center">
    <h1 class="fw-bold mb-3">I nostri alloggi</h1>
    <p class="text-header px-3" style="max-width: 700px; margin: 0 auto; line-height: 1.6;">
      Esplora Casa Dalmazia, dove comfort e autenticità si uniscono per offrirti un soggiorno indimenticabile nella splendida cornice di Chioggia.
    </p>
    <section class="row-card-scroll mt-4">
      <!----------- CARD 1 ------------>
      <photo-card 
        [title]="'SEVENTE'" 
        [content]="'Goditi una vista mozzafiato sul mare Adriatico.'" 
        [images]="[
          'assets/images/SEVENTE/1.avif',
          'assets/images/SEVENTE/2.avif',
          'assets/images/SEVENTE/3.avif',
          'assets/images/SEVENTE/4.avif',
          'assets/images/SEVENTE/5.avif',
          'assets/images/SEVENTE/6.avif',
          'assets/images/SEVENTE/7.avif',
          'assets/images/SEVENTE/8.avif',
          'assets/images/SEVENTE/9.avif',
          'assets/images/SEVENTE/10.avif',
          'assets/images/SEVENTE/11.avif',
          'assets/images/SEVENTE/12.avif'
        ]">
      </photo-card>

      <!----------- CARD 2 ------------>
      <photo-card 
        [title]="'DOSANA'" 
        [content]="'La nostra casa è dotata di ogni comfort per il tuo relax.'" 
        [images]="[
          'assets/images/DOSANA/1.avif',
          'assets/images/DOSANA/2.avif',
          'assets/images/DOSANA/3.avif',
          'assets/images/DOSANA/4.avif',
          'assets/images/DOSANA/5.avif',
          'assets/images/DOSANA/6.avif',
          'assets/images/DOSANA/7.avif'
        ]">
      </photo-card>
    </section>
  </div>
</div>
