<div class="gallery py-5 text-center">
  <div class="container-center">
    <h1 class="fw-bold mb-3">{{ 'OUR_ACCOMODATIONS_TITLE' | translate }}</h1>
    <p class="text-header px-3" style="max-width: 700px; margin: 0 auto; line-height: 1.6;">
      {{ 'OUR_ACCOMODATIONS_TEXT' | translate }}
    <section class="row-card-scroll mt-4">
      <!----------- CARD 1 ------------>
      <photo-card 
        [title]="'Sevènte'" 
        [content]="'SEVENTE_CONTENT' | translate"

        [images]="[
          'assets/images/SEVENTE/1.avif',
          'assets/images/SEVENTE/2.avif',
          'assets/images/SEVENTE/3.avif',
          'assets/images/SEVENTE/4.avif',
          'assets/images/SEVENTE/5.avif',
          'assets/images/SEVENTE/6.avif',
          'assets/images/SEVENTE/7.avif',
          'assets/images/SEVENTE/8.avif',
          'assets/images/SEVENTE/9.avif',
          'assets/images/SEVENTE/10.avif',
          'assets/images/SEVENTE/11.avif',
          'assets/images/SEVENTE/12.avif'
        ]">
      </photo-card>

      <!----------- CARD 2 ------------>
      <photo-card 
        [title]="'Dosàna'" 
        [content]= "'DOSANA_CONTENT' | translate"
        [images]="[
          'assets/images/DOSANA/1.avif',
          'assets/images/DOSANA/2.avif',
          'assets/images/DOSANA/3.avif',
          'assets/images/DOSANA/4.avif',
          'assets/images/DOSANA/5.avif',
          'assets/images/DOSANA/6.avif',
          'assets/images/DOSANA/7.avif'
        ]">
      </photo-card>
    </section>
  </div>
</div>
