<div class="banner">
	<div class="container-center text-start">
		<h2>Pianifica la tua vacanza</h2>
		<ul class="custom-list">
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Scopri la bellezza del mare Adriatico</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Goditi la tranquillità della costa</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Vivi avventure all'aria aperta</li>
		</ul>
		<button *ngIf="localBooking" class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('booking')">Prenota ora</button>
		<button *ngIf="!localBooking" class="btn-medium" aria-label="Prenota ora" (click)="openLinkInNewTab()">Prenota ora</button>
	</div>
</div>
