<div class="banner">
	<div class="container-center text-start">
		<h2>{{ 'PLAN_YOUR_HOLS_TEXT' | translate }}</h2>
		<ul class="custom-list">
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> {{ 'EXPLORE_TEXT' | translate }}</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> {{ 'TREAT_TEXT' | translate }}</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> {{ 'UNCOVER_TEXT' | translate }}</li>
		</ul>
      <!--   <button *ngIf="localBooking" class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('booking')">{{ 'BOOK_NOW' | translate }}</button> -->
          <button class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('contact')">{{ 'BOOK_NOW' | translate }}</button>
	</div>
</div>
