<div class="banner">
	<div class="container-center text-start">
		<h2>Organizza la tua vacanza</h2>
		<ul class="custom-list">
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Esplora la splendida Laguna Veneta e la suggestiva costa dell’Adriatico</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Delizia il palato con la cucina tipica locale</li>
			<li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Scopri nuove avventure all’aria aperta</li>
		</ul>
		<button *ngIf="localBooking" class="btn-medium" aria-label="Prenota ora" (click)="scrollTo('booking')">Prenota ora</button>
		<button *ngIf="!localBooking" class="btn-medium" aria-label="Prenota ora" (click)="openLinkInNewTab()">Prenota ora</button>
	</div>
</div>
