<div class="services">
  <div class="container-center pt-0">
    <div class="row text-start justify-content-center">
      <section class="left col-md-5 col-sm-10">
        <h3>Servizi disponibili:</h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Wifi</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Cucina completamente attrezzata</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Lavatrice</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Televisione</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Spazio per lavorare</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Parcheggio gratuito</li>
        </ul>
        <button *ngIf="localBooking" class="btn-medium mb-5" aria-label="Prenota ora" (click)="scrollTo('booking')">Prenota ora</button>
        <button *ngIf="!localBooking" class="btn-medium mb-5" aria-label="Prenota ora" (click)="openLinkInNewTab()">Prenota ora</button>
      </section>

      <section class="right col-md-5 col-sm-10">
        <h3>Esplora la zona:</h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Escursioni a piedi</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Degustazione della cucina locale</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Visita ai pittoreschi borghi locali</li>
        </ul>
        <h3 class="mt-5">Per il tuo viaggio:</h3>
        <ul class="custom-list">
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Noleggio biciclette</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Informazioni sui sentieri escursionistici</li>
          <li><i class="fa-solid fa-check" aria-label="Checkmark"></i> Escursioni guidate disponibili</li>
        </ul>
      </section>
    </div>
  </div>
</div>
