<div class="testimonials">
  <div class="container-center">
    <h2>Testimonianze dei nostri ospiti</h2>
    <section class="row">

      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img1 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Costantino
              <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">Recensione del: 18 aprile 2025</small>
          <p>"Appartamento super con host eccezionali. Esperienza a 5 stelle."</p>
          <p>"L'appartamento è perfetto: pulitissimo, confortevole e in una posizione strategica per girare la città a piedi."</p>
          <p>"Susanna e Roberto sono stati host eccezionali: gentilissimi e sempre disponibili."</p>
          <p>"Consigliatissimo, senza esitazioni!"</p>
        </div>
      </div>

      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img2 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Gabor
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">Recensione del: 4 maggio 2025</small>
          <p>"Alloggio eccellente, lo consiglio vivamente."</p>
          <p>"La sistemazione si trova in una posizione ottima, nel centro città. Tutte le attrazioni sono raggiungibili a piedi. È spaziosa, molto pulita e i proprietari sono stati gentili e flessibili."</p>
        </div>
      </div>

      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Micbur85
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">Recensione del: 4 giugno 2025</small>
          <p>"Posizione centrale, ottima struttura."</p>
          <p>"Appartamento di recente ristrutturazione, in posizione centralissima a Sottomarina."</p>
          <p>"Comodo anche al ponte dell'Unione, per andare a Chioggia a piedi in 15 minuti."</p>
          <p>"Pulito, spazioso, con tutto il necessario. Grande cortesia di Susanna, l'host, e del marito, che ci hanno dato anche qualche indicazione sui posti dove mangiare e da visitare."</p>
        </div>
        <div class="rounded-image img3 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>

      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Manfred
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">Recensione del: 10 giugno 2025</small>
          <p>"Meravigliosa breve vacanza a Chioggia! Torneremo!"</p>
          <p>"Posizione perfetta nel centro, ma in una strada laterale tranquilla."</p>
          <p>"A pochi minuti a piedi dalla spiaggia e, attraversando il ponte, si arriva al centro storico di Chioggia."</p>
          <p>"Susanna e Roberto sono host molto cordiali e sempre disponibili."</p>
          <p>"Appartamento molto bello, pulito e arredato in stile moderno. Cucina fantastica (con tutto il necessario) e bagno eccezionale. Tutto è arredato con amore e curato nei minimi dettagli."</p>
        </div>
        <div class="rounded-image img4 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>

    </section>
  </div>
</div>
