<div class="testimonials">
  <div class="container-center">
    <h2>{{ 'REVIEWS_TEXT' | translate }}</h2>
    <section class="row">

      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img1 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Costantino
              <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">{{ 'CONSTANTINO_REVIEW1_TEXT' | translate }}</small>
          <p>"{{ 'CONSTANTINO_REVIEW2_TEXT' | translate }}"</p>
          <p>"{{ 'CONSTANTINO_REVIEW3_TEXT' | translate }}"</p>
          <p>"{{ 'CONSTANTINO_REVIEW4_TEXT' | translate }}"</p>
          <p>"{{ 'CONSTANTINO_REVIEW5_TEXT' | translate }}"</p>
        </div>
      </div>

      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img2 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Gabor
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">{{ 'GABOR_REVIEW1_TEXT' | translate }}</small>
          <p>"{{ 'GABOR_REVIEW2_TEXT' | translate }}"</p>
          <p>"{{ 'GABOR_REVIEW3_TEXT' | translate }}"</p>
        </div>
      </div>

      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Micbur85
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">{{ 'MICBUR85_REVIEW1_TEXT' | translate }}</small>
          <p>"{{ 'MICBUR85_REVIEW2_TEXT' | translate }}"</p>
          <p>"{{ 'MICBUR85_REVIEW3_TEXT' | translate }}"</p>
          <p>"{{ 'MICBUR85_REVIEW4_TEXT' | translate }}"</p>
          <p>"{{ 'MICBUR85_REVIEW5_TEXT' | translate }}"</p>
        </div>
        <div class="rounded-image img3 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>

      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>
            Manfred
            <img src="assets/images/stars.png" alt="5 stelle" class="stars-img" />
          </h5>
          <small class="text-muted d-block mb-2">{{ 'MANFRED_REVIEW1_TEXT' | translate }}</small>
          <p>"{{ 'MANFRED_REVIEW2_TEXT' | translate }}"</p>
          <p>"{{ 'MANFRED_REVIEW3_TEXT' | translate }}"</p>
          <p>"{{ 'MANFRED_REVIEW4_TEXT' | translate }}"</p>
          <p>"{{ 'MANFRED_REVIEW5_TEXT' | translate }}"</p>
          <p>"{{ 'MANFRED_REVIEW6_TEXT' | translate }}"</p>
        </div>
        <div class="rounded-image img4 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>

    </section>
  </div>
</div>
