<div class="testimonials">
  <div class="container-center">
    <h2>Testimonianze dei nostri ospiti</h2>
    <section class="row">
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img1 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Elisa Padoan</h5>
          <p>"Abbiamo passato un fine settimana spettacolare. La posizione è ideale per esplorare la zona e la casa aveva tutti i comfort di cui avevamo bisogno. Molto consigliato!"</p>
        </div>
      </div>
      <div class="opinion col-md-6 col-sm-11 mb-5">
        <div class="rounded-image img2 col-md-6 col-sm-12" aria-hidden="true"></div>
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Alessandro Ortu</h5>
          <p>"Il mio soggiorno è stato incredibile. La tranquillità del paese e il comfort della casa hanno reso la mia fuga perfetta. Tornerò sicuramente!"</p>
        </div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Jorge Rubio</h5>
          <p>"La casa ha superato tutte le nostre aspettative. Abbiamo goduto della tranquillità dell’ambiente e della bellezza naturale. Sicuramente un posto per rilassarsi e staccare la spina."</p>
        </div>
        <div class="rounded-image img3 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
      <div class="opinion reverse col-md-6 col-sm-11 mb-5">
        <div class="opinion-text col-md-6 col-sm-12">
          <h5>Danielle Caddeo Angioni</h5>
          <p>"BAUBAU! Mamma! Pappa! Dido! Dida! Tío! Tía! More! Aqua! Down!"</p>
        </div>
        <div class="rounded-image img4 col-md-6 col-sm-12" aria-hidden="true"></div>
      </div>
    </section>
  </div>
</div>
